.wrap {
    margin: 100px 30px 0px;
    padding: 10px 50px;
    background: #82E700;
}
/*ヘッダー設定ここから*/
.logo{
    background-color: #3A9923;
    display: flex;
    justify-content: space-between;/* 要素を両端に設置させる */
    height: 100px;
    
}
.logo h1{
    display: inline-flex;
    font-size:5vw;
    white-space: nowrap;
    margin: auto;
    color: whitesmoke;
/*    float:left;*/
}

.logo a {
    color: inherit;
}

header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    z-index:10;
}
#headernav {
/*    float:right;*/
    display: flex;
    margin-top:16px;
    font-size:2vw;
}
#headernav li{
    display: inline-flex;
    padding:0 10px;
    list-style:none;
/*    border:medium solid #ff00ff;*/

}
#headernav li a{
    color: whitesmoke;
    
}
#headernav li a:hover{
    border-bottom: 1px solid whitesmoke;
    padding-bottom:1px;
    text-decoration:none;
}
/*ヘッダー設定ここまで*/
.image-display{
/*    border:solid 1px #aaaaaa;*/
    padding:10px;
    margin-bottom:20px;
}
#work-hero-image{
    width:100%;
    height:20rem;
    object-fit: cover;
    border-radius: 20px;
}
.work table{
    width:80%;
    margin:20px 0;
}
.work th{
    background-color: #F8E800;
    padding: 15px;
    border:solid 1px darkgray;
    width:40%;
}
.work-name{
    width:20%;
}
.explanation{
    width:40%;
}
.work td{
    padding: 15px;
    
    border:solid 1px darkgray;
}
#profileContains{
    width:55%;
    padding:15px;
    float: left;
    border:1px solid darkgray;
/*    display: inline-flex;*/
}
#profileContains dd{
    font-size: 0.9em;
/*  文字の大きさを標準から0.9倍の大きさに指定(標準を１として指定)  */
    text-indent:1em;
/*  一文字インデントを下げる  */
}
#carouselExampleIndicators{
    float:right;
    width: 40%;
    z-index:9;
}
.person-photo{
    height: 20vw;
    object-fit: cover;

}
.wrap section{
    margin-bottom: 50px;
}
.careers-table{
    width:80%;
    margin:20px 0;
}
.careers-table th{
    background-color: #F8E800;
    padding: 15px;
    border:solid 1px darkgray;
    width:40%;
}
.careers-table td{
    padding: 15px;
    border:solid 1px darkgray;
}
.profiles:after{
    content:"";
    display: block;
    clear:both;
}
#main{
    margin:20px 0;
}
/*
.registeredDate{
    float:left;
}
.work-name{
    float:right;
}
*/
.work::after{
    content:"";
    display: block;
    clear:both;
}

footer{
    position:relative;
    border-top: solid #000000;
    text-align: center;
    z-index:9;
}
#index{
    background-image: url(../images/top_background01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
/*    position: relative;*/
    
}
#index::before{
    background-color: rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    content: '';
    
}
#index header{

    z-index: 10;
}
.hamburger-menu{
    visibility:hidden;
}
#index #main h1{
    position:relative;
    font-family: 'Poppins', sans-serif;
    font-size: 10vw;
    color: whitesmoke;
    margin:110px auto 110px;
    z-index:9;
}

#index #main{
    margin: 70px 50px 0px;
    color: blanchedalmond;
}
#index footer{
    position:relative;
    border-top: solid #000000;
    color: blanchedalmond;
    text-align: center;
    z-index:9;
/*    padding-bottom: 20px;*/
}
/*レイアウト番号優先順位設定*/
.layerTen{
    z-index:10;
}
.layerNin{
    z-index:9;
}
@media screen and (max-width:800px){
/*  画面サイズが600px以下の場合に適用  */
    body{
        font-size:3.5vw;
    }
    .logo{
        height: 10.2vw;
        display: block;
}
    .logo h1{
        font-size: 5vw;
    }
    #index{
    position: static;
    
}
    #headernav{
        visibility:hidden;
    }
    .hamburger-menu{
    visibility:visible;
}
    #index #main h1{
    font-size: 14vw;
}
    #work-hero-image{
        height:10rem;
    }
    #profileContains{
    width:100%;
    border:1px solid ;
}
    #carouselExampleIndicators{
       width:100%; 
    }
    
    #profileContains dd{
        font-size: 3vw;
    }
    .person-photo{
        width:100%;
        clear:both;
    }
    
}